* {box-sizing: border-box;}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.loginnav {
    overflow: hidden;
    background-color: #111;
    border: 1px solid #818181;
}

.loginnav a {
    float: left;
    display: block;
    color: #818181;
    text-align: center;
    padding: 0.4vh 0.4vh;
    text-decoration: none;
    font-size: 2vh;
    margin-left: 5vh;
    margin-right: 5vh;

}

.loginnav a:hover {
    background-color: gray;
    color: black;
}

.loginnav a.active {
    background-color: #2196F3;
    color: white;
}

.loginnav .login-box {
    margin-left: 5vh;
    margin-right: 5vh;
    float: right;
}

.loginnav input[type=text] {
    padding: 0.5vh 0.8vh;
    margin-top: 0.4vh;
    font-size: 2.5vh;
    border: none;
    width: 25vh;
}

.loginnav .login-box button {
    float: right;
    padding: 0.5vh 0.8vh;
    margin-top: 0.25vh;

    background-color: #555;
    color: white;
    font-size: 2.8vh;
    border: none;
    cursor: pointer;
    margin-right: 3vh;
}

.loginnav .login-box button:hover {
    background-color: green;
}

@media screen and (max-width: 600px) {
    .topnav .login-container {
        float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .login-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

.regBox{

    display: block;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    /*background-color: #818181;*/

    border: 5px solid #818181;
    min-height: 35vh;
    min-width: 35vh;
    margin-left: 3vh;

    opacity: 0.9;
    color: #818181;
    font-size: 2vh;
    scale: 1.15;
}
.regBox div{
    text-align: center;
    margin: 3vh;
    scale: 1.25;
}

.regBox input{
    font-size: 2vh;
}
.regBox input .checkbox{
    width: 5vh;
    height: 5vh;
}

.regBox div:last-child{
    margin: 5vh;
}

.regBox button{
    font-size: 3vh;
}
.login-box {
    scale: 1.15;
    margin: 10px;

}
.navName{
    scale: 1.5;
    margin: 10px;
}