@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.icon{
    display: block;
    position: absolute;
    color: #111111;
    font-size: 2.5em;
    margin: 3vh;
}
.fa-bars{    display: block;
    position: absolute;
    color: #111111;

}
.sidenav {

    height: 100%;
    width: 12%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 3vh;
    border: 1px solid #818181;
}

.sidenav a {

    padding: 0.2vh 0.2vh 0.2vh 3vh;
    text-decoration: none;
    font-size: 2.5vh;
    color: #818181;
    display: block;
    transition: 0.4s;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.middleNav {
    display: none;
    text-align: center;
    height: 60%;
    width: 60%;
    top: 15%;
    left: 20%;
    position: fixed;
    z-index: 1;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 3vh;
    border: 1px solid #818181;
}

.middleNav a {

    padding: 0.2vh 0.2vh 0.2vh 0.2vh;
    text-decoration: none;
    font-size: 2.5vh;
    color: #818181;
    display: block;
    transition: 0.4s;
    margin-bottom: 2vh;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #d9d9d9;
    opacity: 0.6;
    color: black;
    text-align: center;

}

.flex-container {

    margin-left: 10%;
    margin-bottom: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 1;
}
.flex-container div{
    margin-left: 1vh;
    margin-right: 1vh;
    height: 3vh;
}
.flex-container div .footerExplanations{
    float: left;
}
.flex-container div .footerValue{
    float: right;
}
.flex-container div {
    margin: 0.5vh;
}
.flex-container div progress{
    margin-top: 4%;
}

.trainBox {
    display: block;
    text-align: center;
    height: 60%;
    width: 60%;
    top: 15%;
    left: 20%;
    position: fixed;

    background-color: rgba(17, 17, 17, 0.82);
    overflow-x: hidden;
    padding-top: 3vh;
    border: 5px solid #818181;
    margin-left: 10vh;
}

.trainBox div {

    text-align: center;
    text-decoration: none;
    font-size: 3vh;
    color: #818181;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
    margin-bottom: 4vh;
}
.trainBox button{
    scale: 1.25;
}

table{
    overflow:scroll;
    text-align: center;
    left: 50%;
    width: 50vh;
    margin: 0;
}
.table-stats{

    margin-left: auto;
    margin-right: auto;
}

td{
    font-family: monospace;
}
a{
    font-family: monospace;
}
p{
    font-family: monospace;
    font-size: 2vh;
}
@media screen and (max-width: 800px), (max-height: 800px) {

    .sidenav{
        display: none
    }


    .flex-container {
        flex-direction: column;
        position: center;
        margin: 0;
        margin-bottom: 2.5vh;
    }
    .icon{
        display: block;
    }
    .trainBox {
        margin: 0;
    }

}


